body {
    background-color: rgb(204, 204, 204);
}
.container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns:20% auto;
    grid-gap: 5%;
    height: auto;
}
.left {
    grid-area: "a";
    padding: 5%;
    background-color: whitesmoke;
    margin-left: 4%;
    border-radius: 1%;
    height: 700px;
}
.right {
    grid-area:"b";
    border: 2px solid black;
    height: auto;
}
.launch-year {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto auto auto auto auto;
}
.successful-launch {
    float: left;
    margin-top: 30px;
}
.button {
    margin: 5px;
    padding: 10px;
    float: left;
    margin-left: 20px;
    border-radius: 10%;
    border: none;
    background-color: lightgreen;
    font-weight: 500;
}
@media only screen and (min-width: 992px) {
    #services {
      grid-template:"a b";
    }
  } 